@mixin respond-to($breakpoint) {
  @media #{$breakpoint} {
    @content;
  }
}

@mixin typography(
  $fontSize,
  $fontWeight: 400,
  $lineHeight: 1,
  $letterSpacing: 0
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
