%flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

%button-style {
  @extend %flexbox;
  width: 21.6rem;
  height: 6rem;
  border: none;
  border-radius: 0.4rem;
}
