%text-xs {
  @include typography(1.2rem, $lineHeight: 1.6rem);
  /* font-size: 1.2rem; */
  /* line-height: 1.6rem; */
}

%text-sm {
  @include typography(1.4rem, $lineHeight: 2rem);
  /* font-size: 1.4rem; */
  /* line-height: 2rem; */
}

%text-base {
  @include typography(1.6em, $lineHeight: 2.4rem);
  /* font-size: 1.6rem; */
  /* line-height: 2.4rem; */
}

%text-lg {
  @include typography(1.8rem, $lineHeight: 2.8rem);
  /* font-size: 1.8rem; */
  /* line-height: 2.8rem; */
}

%text-xl {
  @include typography(2rem, $lineHeight: 2.8rem);
  /* font-size: 2rem; */
}

%text-2xl {
  @include typography(2.4rem, $lineHeight: 3.2rem);
  /* font-size: 2.4rem; */
  /* line-height: 3.2rem; */
}

%text-3xl {
  @include typography(3rem, $lineHeight: 3.6rem);
  /* font-size: 3rem; */
  /* line-height: 3.6rem; */
}

%text-4xl {
  @include typography(3.6rem, $lineHeight: 4rem);
  /* font-size: 3.6rem; */
  /* line-height: 4rem; */
}

%text-5xl {
  @include typography(4.8rem);
  /* font-size: 4.8rem; */
  /* line-height: 1; */
}

%text-6xl {
  @include typography(6rem);
  /* font-size: 6rem; */
  /* line-height: 1; */
}

%font-weight-normal {
  font-weight: 400;
}

%font-weight-medium {
  font-weight: 500;
}

%font-weight-semibold {
  font-weight: 600;
}
